@import url('https://fonts.googleapis.com/css?family=Flamenco|Roboto:300,400&display=swap');

li {
    list-style-type: none;
}

h3 {
    color: #364156;
    padding-bottom: 1.5%;;
    text-align: center;
}
