@mixin centerTextWithFontSize($fontSize) {
    font-size: $fontSize;
    text-align: center;
}

@mixin sectionMarginBotton() {
    margin-bottom: 3%;
}

@mixin containerStyle() {
    padding: 2em;
}

@mixin rhymesStyle() {
    @include centerTextWithFontSize(1.3em);
    margin-bottom: 2%;
}

@mixin rhymesHover() {
    color: #FF4646;
    transform: scale(1.1);
}

