@import '../../styles/base.scss';

.App {
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
    padding: 0 1em;
}

@media screen and (min-width: 769px) {
    .App {
        margin: 0 auto;
        max-width: 1000px;
        width: 70%;
    } 
}