.App {
  font-family: sans-serif;
  text-align: center;
}
main {
  background: #C0FDFB;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "homePageContainer"
  "container";
  height:100vh;
  padding: 2% 5% 0 5%;
}

@media screen and (min-width: 1000px) {
  main {
    grid-template-rows: 35% 65%;
    margin: 0 auto;
    max-width: 70vw;
  }
}
