@import '../../styles/base.scss';
@import '../../styles/mixins.scss';

.App {
    background: linear-gradient(to bottom right, #FFFFFF, #EFEFEF);
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    min-width: 375px;
    padding: 0 1em;
}

@media screen and (min-width: 769px) {
    .App {
        margin: 0 auto;
        max-width: 1000px;
        width: 70%;
    }

    h1 {
        font-size: 3em;
    }

    header p {
        font-size: 1.2em;
    }

    button {
        font-size: 1em;
        margin: 1% auto;
    }

    h4 {
        font-size: 1.4em;
    }

    .word-details p {
        font-size: 1.35em;
    }

    .page-nav-link {
        font-size: 1.25em;
    }

    .start-up {
        font-size: 1.2em;
    }
}