.App {
  text-align: center;
}
main {
  background: linear-gradient(to bottom right, #83D0C9, #00B2CA);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas:
  "homePageContainer"
  "container";
  height:100vh;
  padding: 5%;
}
