.App {
  text-align: center;
}
main {
  background: lightblue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .5fr .5fr .5fr 3.8fr;
  grid-template-areas:
  "nav"
  "header"
  "searchForm"
  "container";
  max-height: 100vh;
}
