/* STYLING FOR NAVIGATION AREA */

@import '../../styles/mixins.scss';

nav {
    @include sectionMarginBotton();
    background: #212D40;
    margin-bottom: 7%;
    margin-left: -1em;
    margin-right: -1em;
    padding: .5em 0;
    padding-left: 2em;
}

nav ul li {
    color: #FFFFFF;
}

.nav-about {
    font-size: .9em;
}