/* STYLING FOR SEARCH FORM */

form {
    display: flex;
    flex-direction: column;
    padding: 0 2em;
}

.form-error-message {
    color: #E53F3F;
    margin-bottom: 2%;
}

input,
button {
    border: 1px solid #212D40;
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 2%;
    padding: 1%;
}

button {
    display: block;
    font-size: .8em;
    margin: 1.5% auto;
    width: 40%;
}

button:hover {
    transform: scale(1.01);
}

#submit {
    background: #FF5858;
    border: none;
    color: #FFFFFF;
}

#submit:hover {
    background: #E53F3F;
}

#recent-searches:hover {
    border-color: #E53F3F;
    color: #E53F3F;
}
