/* STYLING FOR SEARCH FORM */
form {
  display: flex;
  flex-direction: column;
}

input,
button {
  border: none;
  margin-bottom: 1.5%;
}

input {
  background: #EAF2E3;
  border-radius: 10px;
  font-size: 1em;
  padding: 1%;
}

button {
  font-size: 1em;
}

#submit {
  background: #FF9509;
  border-radius: 50px;
  color: #EAF2E3;
  padding: 1% 0;
  width: 40%;
}

#submit:hover {
  background: #E2711D;
  transform: scale(0.95);
}

#recent-searches {
  background: inherit;
  text-decoration: underline;
}

#recent-searches:hover {
  color: #E2711D;

}

.form-error-message {
  color: #FF2E00;
}
